.h-05 {
  height: 0.125rem;
}

.hamburger {
  width: 32px;
  height: 24px;
}

.hamburger #burger-span {
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  top: 45%;
}

.hamburger #burger-span::before,
.hamburger #burger-span::after {
  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 2px;
  background-color: #a0aec0;
  border-radius: 2px;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.hamburger #burger-span::after {
  -webkit-transform: translateY(9px);
  transform: translateY(9px);
}

.hamburger #burger-span::before {
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
}

.hamburger #burger-span.open {
  background: transparent;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.hamburger #burger-span.open::before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

.hamburger #burger-span.open::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}
/*# sourceMappingURL=Hamburger.css.map */
